<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="/images/favicon.png">
  <link rel="stylesheet" href="styles/main.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&display=swap" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <title>BookNotes</title>
</head>

<body>
  <!-- ------------------------------- Title -------------------------------- -->
  <header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-flex flex-column gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="d-flex align-items-center">
        <a href="#" >
          <img src="images/favicon.png" alt="book icon" class="mb-3" width="48px">
        </a>
        <h1 class="text-orange mt-2 josefin-sans-1">BookNotes</h1>
      </div>
    </div>
  </header>
  <!-- -------------------------------- Login parts -------------------------------- -->
   <div class="jumbotron centered">
    <div class="container">
      <i class="fas fa-key fa-6x"></i>
      <h1 class="display-3 bodoni-moda-1">books</h1>
      <p class="lead bodoni-moda-1">
        a written or printed work consisting of pages glued or sewn together along one side and bound in covers. <br/>
        there are many things to remember, log in to save them!</p>
      <hr>
      <a class="btn btn-warning btn-lg" style="background-color: rgb(255, 145, 0);" href="/login" role="button">Login</a>
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    </div>
   </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="script.js"></script>

</body>

</html>