<%- include('partials/header') %>
<div class="container mt-5">
  <h1 class="josefin-sans-1">Register</h1>

  <div class="row justify-content-between">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">

          <!-- Makes POST request to /register route -->
          <form action="/register" method="POST">
            <div class="form-group">
              <label for="email" class="josefin-sans-1">Email</label>
              <input type="email" class="form-control" name="username" required>
            </div>
            <div class="form-group">
              <label for="password" class="josefin-sans-1">Password</label>
              <input type="password" class="form-control" name="password" required>
            </div>
            <% if (typeof error !== 'undefined') { %>
              <p><%= error %></p>
            <% } %>
            <div class="d-flex flex-row flex-wrap justify-content-between mt-2 ">
              <button type="submit" class="btn btn-warning">Register</button>
              <div class="d-flex g-2 justify-content-md-between flex-column flex-md-row" style="gap: 4px;">
                <h6 class="mt-3 pe-1 align-items-center josefin-sans-1 ps-2">Do you have an account?</h6>
                <a href="/login" class="btn btn-outline-warning">Log in Here</a>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
             <h3 class="josefin-sans-1 mt-2">Sign In with Google</h3>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
