.josefin-sans-1 {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.bodoni-moda-1 {
    font-family: "Bodoni Moda", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
.text-orange{
    color: rgb(255, 145, 0);
}
  .lobster-regular {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.cinzel-decorative-regular {
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
}
.cinzel-decorative-bold {
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}
.cinzel-decorative-black {
    font-family: "Cinzel Decorative", serif;
    font-weight: 900;
    font-style: normal;
}
.listItem {
    margin-bottom: 8px; /* Adjust as needed */
    list-style-type: none;
}

.listItem img {
    margin-right: 10px; /* Adjust as needed */
}

.listItem p {
    margin: 0; /* Reset paragraph margin */
}